{% load picture_extras %}
<div id="{{ pic.id }}" class="gallery gallery-demo">
	<div class="gallery-cell">
		<img class="gallery-cell__lazy-image center-block" data-flickity-lazyload="{{ pic.url }}"></img>
		<div class="gallery-cell-info">
			<!-- 名字和创建日期 -->
			<div class="pull-left">
				<h4>{{ pic.name }}<small> - {{pic.creation_date.year}}/{{pic.creation_date.month}}/{{pic.creation_date.day}} - 来自: {{ pic.album }}</small>
				</h4>
				<!-- 星星 -->
				{% for i in pic.stars|get_range %}
				<i class="icon-star"></i>
				{% endfor %}
				<p>{{ pic.comment }}</p>
			</div>
			<!-- 评论 -->
			<div class="list-inline post-data pull-right">
				<a href="#" title="赞"><i class="icon-heart-empty"></i>{{ pic.like }}</a>
				<a href="#" title="分享"><i class="icon-share"></i></a>
			</div>
		</div>
	</div>
</div>