html {
	height: 100%;
}
body {
	padding-top: 60px;
	height: 100%;
}
.navbar-brand {
	padding: 6px 15px;
}
.thumbnail {
	padding: 0px;
	border-radius: 0px;
	cursor: pointer;
	margin-bottom: 4px;
}
.selection-bar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity 0.75s;
	-moz-transition:opacity 0.75s; /* Firefox 4 */
	-webkit-transition:opacity 0.75s; /* Safari and Chrome */
	-o-transition:opacity 0.75s; /* Opera */
	z-index: 2;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 9px;
}
.selection-bar:hover {
	opacity: 0.67;
}
.selection-bar p {
	color: #EEE;
}
.selection-bar .center-block-title {
	left: 0px;
	right: 0px;
	position: absolute;
	bottom: 50%;
	color: #EEE;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.selection-bar .center-block-title small {
	color: #AAA;
}
.selection-bar .center-block-description {
	left: 0px;
	right: 0px;
	position: absolute;
	top: 50%;
	clear: both;
	color: #AAA;
	font-size: .7em;
	margin: 1px 10px 0px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.clip{
  display: table-cell;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
}
.clip-height{
	max-width: 100%;
	height: auto;
}
.clip-width{
	max-height: 100%;
	width: auto;
}
.post-data {
	bottom: 15px;
	margin: 0px 3px;
	position: absolute;
	right: 15px;
}
.post-data a,
.post-data i,
.caption p {
	color: #CCC;
}
.post-data a:hover,
.post-data i:hover {
	color: #FFF;
}
.post-data a {
	margin-right: 6px;
	text-decoration: none;
}
.post-data i {
	margin-right: 4px;
}
#infscr-loading {
	text-align: center;
	z-index: 100;
	width: 200px;
	padding: 0 0 30px;
	color: #999;
	width: 100%;
}
.my-icon-star {
	display: inline;
  float: left;
  width: 16px;
  height: 16px;
  padding: 0 0 0 0;
  background: url('../images/star.png') 0 -16px;
}
.shadow {
  box-shadow: 1px 4px 4px grey;
}
.icon-star {
	color: #FFA500;
}
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}
.push {
	height: 100px;
}
#footer {
	padding: 0;
	margin : 35px 0px 0px 0px;
	color: #666666;
	font-size: 12px;
}
.fcred {
	border-top: 1px solid #CBCBCB;
	margin: 0px auto 30px;
	line-height: 16px;
	padding-top: 18px;
}
.go-top {
	position: fixed;
	display: none;
	right: 45px;
	bottom: 38px;
	z-index: 9999;
}
.go-top a {
	display: block;
	background-image: url(../images/go-top-grey.png);
	background-repeat: no-repeat;
	background-position: center 15px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border-radius: 3px;
}
.go-top a:hover{
	border-radius:3px;
	background-color:#999;
	background-image:url(../images/go-top-white.png);
}
.go-top a:active{
	background-color:#333;
}
.full-screen-layer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
}
.layer-container{
	min-height: 100%;
}
.gallery-cell-info{
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.75;
	background-color: rgba(33, 33, 33, 1);
	padding-left: 20px;
	padding-right: 20px;
	height: 120px;
}
.gallery-cell-info h4{
	color: #EEE;
	margin-bottom: 5px;
}
.gallery-cell-info p{
	color: #AAA;
}
.gallery-cell-info .post-data{
	bottom: 0px;
}
.gallery-demo{
	height: 720px;
	margin-bottom: 20px;
	display: none;
}
.gallery-demo .gallery-cell{
	height: 720px;
}
.gallery-cell__lazy-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell__lazy-image.flickity-lazyloaded,
.gallery-cell__lazy-image.flickity-lazyerror {
  opacity: 1;
}
.gallery-close{
	z-index: 10009;
	position: absolute;
	right: 25px;
	top: 25px;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: white;
	opacity: 0.45;
	cursor: pointer;
}
.gallery-close:hover{
	opacity: 0.75;
}
.flickity-page-dots .dot{
	background: #EEE;
}
.icon-close {
	position: relative;
	top: 7px;
	left: 11px;
}